.logo-sm {
  max-height: 115px;
  width: auto;
}

.login-container {
  max-width: 520px;
  min-width: 369px;
  margin: auto;
  text-align: center;
  background: #f6f6f6;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 0px 50px 30px;
}

form {
  margin: auto;
}

form label {
  margin-top: 15px;
}

.input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
