.logo-sm {
  max-height: 115px;
  width: auto;
}

.issue-banner {
  padding-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.welcome-message {
  font-size: 25px;
  color: #000000;
}

button.logout {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.issue-container {
  max-width: 850px;
  min-width: 369px;
  margin: auto;
  background: #f6f6f6;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 0px 50px 30px;
}

.btn {
  margin: 0px 15px;
}
