.logo {
  max-height: 500px;
  width: auto;
}

body {
  background: #d6e9ff;
}

* {
  font-family: NunitoBold;
}

h1 {
  padding-top: 10px;
  font-size: 65px;
  color: #007ae6;
}

.modalCard {
  background: #fff7d6;
}

.loginModal {
  width: 80%;
  margin: auto;
}
